:root {
   --theme-primary-color: #6F4FF2;
   --theme-secondary-color: #ffffff;
   --theme-victory-color: #000000;

   --theme-bg-color-1: #6F4FF2;
   --theme-font-color1: #6F4FF2;

   --theme-bg-color2: #ffffff;
   --theme-font-color2: #ffffff;

   --theme-bg-color3: #000000;
   --theme-font-color3: #000000;

   --theme-font-color4: #f1f1f2;
   --theme-bg-color4: #f1f1f2;

   --theme-bg-color5: #67696F;
   --theme-footer-bg-color: #202020;
   --theme-footer-border: #D3D4D6;

   --theme-clr: #6F4FF2;
   --theme-clr2: #ffffff;
   --theme-clr3: #000000;
   --theme-clr4: #f1f1f2;

   --theme-user-border: #29E072;
}